<a href="https://colab.research.google.com/github/vikadenisova/Deep_Learning/blob/main/4homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Раздел 4. Домашнее задание.**

**Почти двойной факториал**

Реализуйте функцию almost_double_factorial(n), вычисляющую произведение всех нечётных натуральных чисел, не превосходящих n.
В качестве аргумента ей передаётся натуральное (ноль -- натуральное) число n⩽100.
Возвращаемое значение - вычисленное произведение.

Комментарий. В случае, если n = 0, требуется вернуть 1.

In [14]:
def almost_double_factorial(n):
  factorial = 1
  for i in range(1,n+1):
    if i%2 == 1:
      factorial = factorial *i
  return factorial

In [18]:
almost_double_factorial(7)

105

**Хитрая сортировка**
 
Пусть у нас есть следующий список, в котором элементы -- tuple из строк:

*items = [('one', 'two'), ('three', 'four'), ('five', 'six'), ('string', 'a')]*

Мы хотим отсортировать этот список по последней букве второго элемента каждого tuple, т.е. получить такой список:

*sorted_items = [ ('string', 'a'), ('one', 'two'), ('three', 'four'), ('five', 'six'),]*

In [19]:
items = [('one', 'two'), ('three', 'four'), ('five', 'six'), ('string', 'a')]

In [37]:
sorted_items = sorted(items, key=lambda x: (x[1])[-1])

In [38]:
sorted_items

[('string', 'a'), ('one', 'two'), ('three', 'four'), ('five', 'six')]

**Слайсы**
 
Дан list x:

*x = [1, 2, 3, 4, 5]*

Заполните слайc, чтобы результатом стал следующий list:

[-5, 2, -3, 4, -1]

In [54]:
x = [1, 2, 3, 4, 5]

In [57]:
x[::-2] = [-1, -3, -5]

In [58]:
x

[-5, 2, -3, 4, -1]

**Создание массивов**

Дан массив *A[0,…,N−1]*.
Реализуйте функцию cumsum_and_erase, принимающую один обязательный аргумент *A* и один опциональный аргумент *erase*, по умолчанию равный 1.

Функция должна выполнять следующие действия: 

*   сформировать массив *B[0,…,N−1]*, где B_i =A0+…+Ai -- массив частичных сумм массива A;
*   удалить из массива B все элементы, равные параметру *erase*, получить массив С;
*   вернуть C в качестве ответа.

In [ ]:
def cumsum_and_erase(A, erase=1):
    B = [0] * len(A)
    for i in range(len(A) - 1):
        B[i] = sum(A[:(i + 1)])
    for k in range(len(A) - 1):
        if B[k] == erase:
            B.pop(k)
    return B

In [148]:
def cumsum_and_erase(A,erase=1):
  B = [0] * len(A)
  for i in range(0,len(A)):
    if sum(A[:(i + 1)]) !=erase:
      B[i] = sum(A[:(i + 1)])
  for k in range (0,len(A)-1):
    if B[k] == 0:
      B.pop(k)
  return B

In [149]:
A = [5, 1, 4, 5, 14] 
B = cumsum_and_erase(A, erase=10)

In [150]:
B

[5, 6, 15, 29]

**Обработка текста**

Дан список текстов, слова в которых разделены пробелами (можно считать, что знаков препинания нет). Часть слов является "мусорными": в них присутствуют цифры и спецсимволы. Отфильтруйте такие слова из каждого текста.

Используйте функции str.split, str.isalpha, str.join, а также list comprehensions.

Пример ввода:

**['1 thousand devils', 'My name is 9Pasha', 'Room #125 costs $100', '888']*

Пример вывода: 

**['thousand devils', 'My name is', 'Room costs', '']*

В этом задании функция print вам не понадобится. Результаты выполнения функций нужно возвращать, а не печатать!

Если в тексте все слова являются мусорными, текст должен преобразоваться в пустую строку.

In [187]:
def process(sentences):
  sentences_right=[0] * len(sentences)
  for k in range(0, len(sentences)):
    sentences_right[k] =" ".join(i for i in sentences[k].split(' ') if i.isalpha())

  result =  sentences_right
  return result

In [188]:
check = ['1 thousand devils', 'My name is 9Pasha', 'Room #125 costs $100', '888']

In [191]:
process(check)

['thousand devils', 'My name is', 'Room costs', '']

**Собственный класс "Нейрон"**

Реализуйте класс "Нейрон", у которого будет несколько методов: 

* init. Принимает на вход массив весов нейрона w=(w1,…,wn), а также функцию активации f (аргумент по умолчанию f(x)=x). Сохраняет веса и функцию внутри класса.
* forward. Принимает на вход массив x=(x1,…,xn) входы нейрона. Возвращает f(w1x1+…+wnxn).
* backlog. Возвращает массив x, который подавался на вход функции forward при её последнем вызове. Если ранее функция forward не вызывалось, возвращает None.

In [198]:
###не работает
class Neuron:

    def __init__(self, w, f = lambda x: x):
        self.w = w
        self.f = f

    def forward(self, x):
      self.x = x
      for i in range (0,len(self)):
        self[i]=self[i]*x[i]
      sum_ = sum(self)
      
      return self.f(sum_)

    def backlog(self):
      return x